@import url("https://fonts.cdnfonts.com/css/microsport");
@import url("https://fonts.cdnfonts.com/css/spy-agency");
@import url("https://fonts.cdnfonts.com/css/masone");

:root {
  --orange: #f37d0f;
  --yellow: #e2ac21;
  --red: #e24421;
  --white: #e5dfda;
  --light-grey: #bfbab6;
  --grey: #807c79;
  --dark-grey: #403e3d;
  --black: #1a1918;
  --font-microsport: "Microsport", sans-serif;
  --font-spy_agency: "Spy Agency", sans-serif;
  --font-spy_agency_3D: "Spy Agency 3D", sans-serif;
  --font-masone: "Masone", sans-serif;
  --font-size: calc(0.01 * 10vmin);
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(120px, 10%) 1fr;
  grid-template-rows: 1fr;
  background-color: var(--black);
  font-family: var(--font-microsport);
}
main {
  grid-column: 2 / -1;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
footer a {
  color: var(--orange);
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  grid-column: 2 / -1;
  position: fixed;
  right: 10px;
  top: 40%;
}

svg {
  width: 30px;
  height: 30px;
}

/* ***************************************** Nav Bar ******************************************************* */
nav {
  height: 100vh;
  width: 10%;
  min-width: 120px;
  grid-column: 1 / 1;
  display: flex;
  justify-content: center;
  animation: gradient 60s ease infinite;
  position: fixed;
  /*Sans bandes noires*/
  background: linear-gradient(
    180deg,
    rgba(226, 68, 33, 0.5) 5%,
    rgba(226, 68, 33, 0.75) 10%,
    rgba(226, 68, 33, 0.5) 20%,

    rgba(243, 125, 15, 0.5) 25%,
    rgba(243, 125, 15, 0.75) 30%,
    rgba(243, 125, 15, 0.5) 40%,

    rgba(226, 172, 33, 0.5) 45%,
    rgba(226, 172, 33, 0.75) 50%,
    rgba(226, 172, 33, 0.5) 60%,

    rgba(243, 125, 15, 0.5) 65%,
    rgba(243, 125, 15, 0.75) 70%,
    rgba(243, 125, 15, 0.5) 80%,

    rgba(226, 68, 33, 0.5) 85%,
    rgba(226, 68, 33, 0.75) 90%,
    rgba(226, 68, 33, 0.5) 100%
  );
  background-size: 100% 500%;
}
@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  12.5% {
    background-position: 100% 25%;
  }
  25% {
    background-position: 100% 50%;
  }
  37.5% {
    background-position: 100% 75%;
  }
  50% {
    background-position: 100% 100%;
  }
  62.5% {
    background-position: 100% 75%;
  }
  75% {
    background-position: 100% 50%;
  }
  87.5% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 100% 0%;
  }
}
nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  font-size: 0.9vw;
  font-family: var(--font-spy_agency);
}
nav ul li {
  transform: scaleY(1.2);
  /* -webkit-transform: scaleY(1.2);
  -moz-transform: scaleY(1.2);
  -o-transform: scaleY(1.2); */
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    var(--black) 0%,
    var(--dark-grey) 30%,
    var(--black) 50%,
    var(--dark-grey) 70%,
    var(--black) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
nav ul li a:hover {
  text-decoration: underline var(--white);
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    var(--white) 0%,
    var(--light-grey) 30%,
    var(--white) 50%,
    var(--light-grey) 70%,
    var(--white) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
nav ul li div {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--black);
}

/* ********************************************* Acceuil ******************************************************* */

.main-acceuil {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-spy_agency);
}
.presentation {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 2.5vmin;
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    rgba(226, 68, 33, 0.8) 0%,
    rgba(243, 125, 15, 0.8) 30%,
    rgba(226, 172, 33, 0.8) 50%,
    rgba(243, 125, 15, 0.8) 70%,
    rgba(226, 68, 33, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}
.presentation::before {
  content: "";
  width: 50%;
  height: 35%;
  border-top: 3px groove var(--orange);
  border-left: 3px ridge var(--orange);
  border-top-left-radius: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
}
.presentation::after {
  content: "";
  width: 50%;
  height: 35%;
  border-right: 3px ridge var(--orange);
  border-bottom: 3px groove var(--orange);
  border-bottom-right-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.key-word {
  font-size: 3vmin;
  font-family: var(--font-microsport);
}

/* ****************************************** Realisation ***************************************************** */

.main-realisation {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font-masone);
}
.main-realisation article {
  min-width: 260px;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
}
#audio_player_img {
  max-width: 90%;
  max-height: 20%;
  border-radius: 10px;
  margin: 0 auto;
}
#asso_couture_img {
  max-width: 40%;
  max-height: 20%;
  border-radius: 10px;
  margin: 0 auto;
}
.main-realisation article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-realisation article h2 {
  font-family: var(--font-microsport);
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    rgba(226, 68, 33, 0.8) 0%,
    rgba(243, 125, 15, 0.8) 30%,
    rgba(226, 172, 33, 0.8) 50%,
    rgba(243, 125, 15, 0.8) 70%,
    rgba(226, 68, 33, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 20px;
}
.main-realisation article p {
  margin-left: 20%;
}
.main-realisation article li {
  text-align: center;
  color: var(--light-grey);
}

/* *************************************** Veilles Technologiques ************************************************** */

.main-veille-techno {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-veille-techno article {
  width: 80%;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
}

.main-veille-techno article a {
  color: #6610f2;
}

.main-veille-techno article div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-veille-techno article h1 {
  margin-bottom: 15px;
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    rgba(226, 68, 33, 0.8) 0%,
    rgba(243, 125, 15, 0.8) 30%,
    rgba(226, 172, 33, 0.8) 50%,
    rgba(243, 125, 15, 0.8) 70%,
    rgba(226, 68, 33, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-veille-techno article img {
  border-radius: 10px;
}
.main-veille-techno article svg {
  width: 50%;
  height: 50%;
}

.main-veille-techno article p {
  width: 60%;
  font-family: var(--font-masone);
}

/* ****************************************** Techno ***************************************************** */
.main-techno {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 25px 0;
}
.main-techno h1,
.main-techno h2 {
  background: radial-gradient(
    100% 124.19% at 0% 0%,
    rgba(226, 68, 33, 0.8) 0%,
    rgba(243, 125, 15, 0.8) 30%,
    rgba(226, 172, 33, 0.8) 50%,
    rgba(243, 125, 15, 0.8) 70%,
    rgba(226, 68, 33, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}
.main-techno p,
.main-techno li {
  padding: 0 5%;
  text-indent: 50px;
  font-family: var(--font-masone);
  color: var(--white);
}
.main-techno li {
  padding: 5px 5%;
}
.main-techno p a {
  color: var(--orange);
}
.main-techno pre {
  margin: 0 25%;
  color: var(--light-grey);
}

/* ********************************************* mediaqueries ***************************************************** */

/* ********************************************* general ***************************************************** */

@media screen and (max-width: 1200px) {
  nav ul {
    font-size: 0.68rem;
  }
}

@media screen and (max-width: 415px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 60px;
  }
  nav {
    height: 60px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    animation: gradient 60s ease infinite;
    position: static;
    /*Sans bandes noires*/
    background: linear-gradient(
      90deg,
      rgba(226, 68, 33, 0.5) 5%,
      rgba(226, 68, 33, 0.75) 10%,
      rgba(226, 68, 33, 0.5) 20%,

      rgba(243, 125, 15, 0.5) 25%,
      rgba(243, 125, 15, 0.75) 30%,
      rgba(243, 125, 15, 0.5) 40%,

      rgba(226, 172, 33, 0.5) 45%,
      rgba(226, 172, 33, 0.75) 50%,
      rgba(226, 172, 33, 0.5) 60%,

      rgba(243, 125, 15, 0.5) 65%,
      rgba(243, 125, 15, 0.75) 70%,
      rgba(243, 125, 15, 0.5) 80%,

      rgba(226, 68, 33, 0.5) 85%,
      rgba(226, 68, 33, 0.75) 90%,
      rgba(226, 68, 33, 0.5) 100%
    );
    background-size: 500% 100%;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    12.5% {
      background-position: 25% 100%;
    }
    25% {
      background-position: 50% 100%;
    }
    37.5% {
      background-position: 75% 100%;
    }
    50% {
      background-position: 100% 100%;
    }
    62.5% {
      background-position: 75% 100%;
    }
    75% {
      background-position: 50% 100%;
    }
    87.5% {
      background-position: 25% 100%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: unset;
    font-size: 2.4vw;
  }
  nav ul li div {
    height: 25px;
    width: 1px;
  }
  main {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
  }
  #social {
    display: flex;
    flex-direction: row;
    gap: 50px;
    grid-column: 1 / 1;
    grid-row: -2 / -1;
    position: static;
    place-self: center;
  }
}
svg {
  width: 25px;
  height: 25px;
}

/* ***************************************** Acceuil ******************************************************* */
@media screen and (max-width: 415px) {
  .presentation {
    margin-top: 20px;
    font-size: 3.5vmin;
  }
  .key-word {
    font-size: 4vmin;
  }
}

/* ***************************************** Realisation ***************************************************** */

/* ***************************************** veille techno ***************************************************** */

@media screen and (max-width: 900px) {
  .main-veille-techno article {
    display: block;
  }

  .main-veille-techno article p {
    width: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 281px) {
  .main-veille-techno article h1 {
    font-size: 1rem;
  }
  .main-veille-techno article img {
    width: 100%;
  }
}
